.Disp_count {
  display: flex;
  justify-content: space-between;
}

#Disp_count1 {
  width: 60px;
  background-color: #093;
  color: #fff;
  font-size: 72px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  display: table-cell;
}
#Disp_count2 {
  width: 60px;
  background-color: yellow;
  color: #fff;
  font-size: 72px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  display: table-cell;
}
#Disp_count3 {
  width: 60px;
  background-color: red;
  color: #fff;
  font-size: 72px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  display: table-cell;
}
#Disp_count4 {
  width: 60px;
  background-color: blue;
  color: #fff;
  font-size: 72px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  display: table-cell;
}
#Disp_count5 {
  width: 60px;
  background-color: gray;
  color: #fff;
  font-size: 72px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  display: table-cell;
}

.Btn_countUp {
  display: flex;
  justify-content: space-between;
}

#Btn_countUp1 {
  font-size: 20px;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
#Btn_countUp2 {
  font-size: 20px;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
#Btn_countUp3 {
  font-size: 20px;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
#Btn_countUp4 {
  font-size: 20px;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
#Btn_countUp5 {
  font-size: 20px;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

#Btn_reset {
  float: right;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;

}

#Btn_countUp:hover {
  background-color: #f30;
}

#Btn_reset:hover {
  background-color: #f30;
}